*
!*.yaml
!*.py
!automation
!automation/*
!camera
!camera/*
!custom_components
!custom_components/*
!devices
!devices/*
!script
!script/*
!shell_command
!shell_command/*
!switch
!switch/*
secrets.yaml
known_devices.yaml
.*
!.gitignore
!.travis.yml
!travis
!travis/*